/* General style */
 
* {
    padding: 0;
    margin: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.5rem;
}

h1 {
	font-size: 12vw;
	line-height: 12vw;
	padding-top: 10px;
	font-style: italic;
	font-variant: small-caps;
}

h2 {
	padding-bottom: 20px;
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

/* Sidebar nav */

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 9;
	top:0;
	right:0;
	background-color: rgba(80,80,80,0.99);
	overflow-x: hidden;
	transition: 0.1s;
}

.sidenav > div {
	margin-right: 1.5rem;
	margin-top: 1.5rem;
	text-align: right;
}

.sidenav .close_button {
	font-size: 72px;
	text-decoration: none;
	color: rgba(220,220,220,1);
}

.sidenav .close_button:hover {
	color: white;
}

.sidenav ul {
	font-family: "Open Sans", sans-serif;
	/*
	font-family: "Ivymode";
	font-style: italic;
	font-variant: small-caps;
	*/
}

.sidenav ul li {
	margin-left: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.sidenav ul li {
	margin-left: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.sidenav ul li a {
	color: rgba(220,220,220,1);
    list-style: none;
	line-height: 2rem;
	font-size: 1.3rem;
	text-decoration: none;
}

.sidenav ul li a:hover {
	color: white;
	text-shadow: 1px 3px rgba(50, 50, 50, 1);
}

/* stuff for the splash page */

.head {
    grid-area: header;
    display: grid;
	grid-template-columns: 5fr 2fr;
	grid-template-areas: 
	"logo button";
	padding-top: 20px;
}

.toggle {
	text-align: right;
	font-size: 3rem;
}

.toggle > .menu-toggle {
	text-decoration: none;
	color: black;
}

.nav {
	grid-area: nav;
	display:none;
	column-count: 2;
}

.nav ul {
	font-family: "Ivymode";
	font-style: italic;
	font-variant: small-caps;
    list-style: none;
	line-height: 2rem;
}

.nav ul li a {
	font-size: 1.3rem;
	text-decoration: none;
	color: rgba(80, 80, 80, 1);
}
.nav ul li a:hover {
	color: black;
}

.logo {
    text-align: justify;
	font-family: "Ivymode";
	letter-spacing: .3rem;
	font-size: 6vw;
}

.logo b {
    font-size: 9vw;
}


.splash {
    height: 100vh;
    display: grid;
    grid-row-gap: 1em;
    grid-template-areas:
	"header"
	"splash-bg";
    grid-template-rows: 75px auto;
	margin-bottom: 10vh;
}

.splash-bg {
	/*max-height: 80vh; */
	grid-area: splash-bg;
	display: grid;
	align-items: center;
	justify-items: center;
    background-image: url(img/star_bg-min.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Fix background image in the viewport
       so it doesn't move when the content's
       height is greater than the image's height */
    /*background-attachment: fixed; */
    background-size: cover;
    background-color: black;
}

.splash-bg > img {
	max-width: 90%;
	max-height: 90%;
	object-fit: scale-down;
}


/* stuff for the content pages */

.page-head {
	display: flex;
    grid-area: page-head;
	font-family: "Ivymode";
	min-height: 100px;
	align-items: center;
}


.content {
	/* The min-width property is necessary for
	 * Owl Carousel 2 not to overflow: see
	 * https://stackoverflow.com/questions/54301170/owl-carousel-2-not-working-when-css-grid-is-applied */
	min-width: 100%; 
    max-width: 100%;
    grid-area: content;
}

.page-wrapper {
	display: grid;
	grid-row-gap: 10vh;
}

.page {
    display: grid;
    grid-template-areas:
	"page-head"
	"content";
    grid-row-gap: 1em;
}

/* media query for landscape/desktop */


@media (min-width: 500px) {
	.head {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "logo nav";
	}
    .nav {
	column-count: 2;
    }
	#main-menu-toggle  {
		display: none;
	}
	.nav {
		display: block;
	}
    .splash {
	grid-template-columns: repeat(6, [col-start] 1fr);
	grid-template-rows: 3fr 1fr;
	grid-template-areas:
	    ". splash-bg splash-bg splash-bg splash-bg splash-bg"
	    "header header header header header header";
    }
    .page {
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	    "page-head	content"
	    ".	content";
    }
	/* Responsive typography */
	h1 {
		font-size: 8vw;
		line-height: 8vw;
	}
	.logo {
		font-size: 5vw;
		line-height: 5vw;
	}
	.logo b {
		font-size: 6vw;
	}
	.nav ul li{
		font-size: 3vw;
		line-height: 3.5vw;
	}
}

@media (orientation: landscape) {
	.splash-bg {
		grid-template-columns: 2fr 3fr;
	}
}

@media (min-width: 800px) {
	h1 {
		font-size: 6vw;
		line-height: 6vw;
	}
	.logo {
		font-size: 5vw;
		line-height: 5vw;
	}
	.logo b {
		font-size: 6vw;
	}
	.nav ul li{
		font-size: 2vw;
		line-height: 3vw;
	}
}

@media (min-width: 1000px) {
	h1 {
		font-size: 5vw;
		line-height: 5vw;
	}
	.logo {
		font-size: 4vw;
		line-height: 4vw;
	}
	.logo b {
		font-size: 5vw;
	}
	.nav ul li{
		font-size: 1.6vw;
		line-height: 3vw;
	}
}
